<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1>Your page</h1>
<table border="1" cellpadding="7">
    <tr>
        <th> Id</th>
        <th> Username</th>
        <th> Name</th>
        <th> Surname</th>
        <th> Email</th>
        <th> Roles</th>
    </tr>
    <tr>
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurname()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td th:utext="${user.getRoles()}"></td>
    </tr>
</table>
<br>
<hr>
<button>
    <a th:href="@{/admin}">Admin page</a>
</button>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>